:root {
  --metadata-color-white: #fff;
  --metadata-color-black: #333;
  --metadata-color-grey: #666;
  --metadata-color-lightgrey: #ddd;
  --metadata-color-lightergrey: #f9f9f9;
  --metadata-color-red: #ba0017;
  --metadata-color-green: #269a49;
  --metadata-color-blue: #005992;
  --metadata-color-gold: #e37512;
  --metadata-color-newsblue: #00cfff;
  --metadata-color-phone: var(--metadata-color-blue);
  --metadata-color-sms: var(--metadata-color-gold);
  --metadata-color-internet: var(--metadata-color-green);
}
